.trans-list{
    flex:4
}
.trans-list{
    flex-direction: column;
 
}
.trans-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    object-fit: cover;
    margin-right: 10px;
}
.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer{
    min-width: none !important;
}

.trans-button{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    line-height: calc(1.5em + .75rem);
}
.delete-trans{
    color: red;
    cursor: pointer;
}