.productList{
    flex:2;
    
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 5px;
    padding: 0px 12px;
    background-color: #3a3737;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    line-height: calc(1.5em + .75rem);
}


.productListDelete{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
     cursor: pointer;
     width: 80px;
     border: 1px solid rgb(255, 6, 6);
     margin-right: 11px;
     margin-top: 7px;
    
}
.product-button-1{
    width: 80px;
    border-radius: 5px;
    padding: 0px 12px;
    background-color: #3a3737;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 945px;
}

.available{

    font-size: 5px;
  height: 10px !important;
    width: 10px !important;
}
/* .productListGrid{
    background: #536976;  
background: -webkit-linear-gradient(to right, #292E49, #536976);  
background: linear-gradient(to right, #292E49, #536976); 

} */