.home-page{
    flex:4;
   margin-left: 40px;
   margin-top: 15px;
}
.home-new-latest{
    display:flex;
}
.home-h1{
    position: absolute;
    margin-left: 864px;
    width: 250px;
   
}


/* .container{
    display: flex;
    margin-top: 0px;
} */