.user-list{
    flex: 4;
}

.user-list{
    flex-direction: column;
    
    
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    object-fit: cover;
    margin-right: 10px;
}
.user-button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}
.delete-user{
   color: red;
    cursor: pointer;
}