.user-list{
    flex: 4;
}

.user-list{
    flex-direction: column;
    
    
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    object-fit: cover;
    margin-right: 10px;
}
.user-buttonu{
    border: none;
    border-radius: 5px;
    padding: 0px 12px;
    background-color: #3a3737;
    color: white;
    cursor: pointer;
    margin-right: 20px;
   
    line-height: calc(1.5em + .75rem);
}
.delete-user{
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 80px;
    border: 1px solid rgb(255, 6, 6);
    margin-right: 11px;
    margin-top: 7px;
   
   
}
.active1{
    font-size: 5px;
  height: 10px !important;
    width: 10px !important;
}